{% extends 'base.html' %}

{% block header %}
<script type="text/javascript" src="{{ url_for('static', filename='stocks_selection/validation.js') }}"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <h2 class="text-center">Stocks selection interface</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl border border-primary">
            <br>
            <div class="container-fluid">
                <form action="{{ url_for('stocks_selection.submit_tickers') }}" href="{{ url_for('stocks_selection.submit_tickers') }}"
                    id= "form_id" method="POST">
                    <div class="row">
                        <div class="col-xl">
                            <div class="row">
                                <div class="col-xl">
                                    <h4 class="text-center">Indepent stock, feature and dates</h4>   
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl col-form-label" for="stock_select">Stock</label>
                                <select class="custom-select form-control col-xl" id="stock_select" name="stock_select"
                                    required>
                                    <option value = "0"{% if stock==0 %} selected{% endif %}>Choose...</option>
                                    {% for ticker in tickers %}
                                        <option value="{{ ticker['id'] }}"{% if stock==ticker['id'] %} selected{% endif %}>
                                            {{ ticker['ticker_name'] }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl col-form-label" for="feature_select">Feature</label>
                                <select class="custom-select form-control col-xl" id="feature_select"
                                    name="feature_select" required>
                                    <option value = "0"{% if feature==0 %} selected{% endif %}>Choose...</option>
                                    <option value="apertura"{% if feature=='apertura' %} selected{% endif %}>Open</option>
                                    <option value="maximo"{% if feature=='maximo' %} selected{% endif %}>High</option>
                                    <option value="minimo"{% if feature=='minimo' %} selected{% endif %}>Low</option>
                                    <option value="cierre"{% if feature=='cierre' %} selected{% endif %}>Close</option>
                                    <option value="cierre_ajustado"{% if feature=='cierre_ajustado' %} selected{% endif %}>Adj Close</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl col-form-label" for="start">Start date</label>
                                <input class="col-xl" type="date" id="start" name="start" value="{{ start_date }}"
                                    min="{{ min_date }}" max="{{ max_date }}">
                            </div>
                            <div class="form-group row">
                                <label class="col-xl col-form-label" for="end">End date</label>
                                <input class="col-xl" type="date" id="end" name="end" value="{{ end_date }}">
                            </div>
                        </div>
                        <div class="col-xl-7">
                            <div class="row">
                                <div class="col-xl">
                                    <h4 class="text-center">Dependent stocks</h4>   
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl">
                                    {% for ticker in tickers %}
                                    <div class="form-check">
                                        {% if ticker in tickers_selected %}
                                        <input class="form-check-input" type="checkbox" name="{{ ticker['id'] }}"
                                            id="{{ ticker['id'] }}" checked=true>
                                        {% else %}
                                        <input class="form-check-input" type="checkbox" name="{{ ticker['id'] }}"
                                        id="{{ ticker['id'] }}">
                                        {% endif %}
                                        <label class="form-check-label" for="{{ ticker['id'] }}">
                                            ({{ ticker['currency'] }}) {{ ticker['ticker_name'] }}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4">
                            <br>
                            <a class="action" href="{{ url_for('main.main') }}">
                                Volver</a>
                        </div>
                        <div class="col-xl-4">
                            <br>
                            <button type="submit" class="btn btn-primary">Submit data</button>
                        </div>
                        <div class="col-xl-4">
                            {% if data_graph %}
                            <br>
                            <button type="submit" class="btn btn-primary" formaction="{{ url_for('stocks_selection.training') }}">
                                Train model
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xl border border-primary">
            <div style="height: 800px; width:100%; overflow-y: auto;">
                {% if data_graph %}
                <img src='data:image/png;base64,{{ data_graph }}' class="img-fluid"/>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}